@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Pretendard", sans-serif;
}

.center {
  @apply flex items-center justify-center;
}

.exist-icon {
  @apply flex items-center justify-center gap-1;
}

.drawer {
  transform: translateX(100%);
  transition: transform 300ms ease-in-out;
}

.drawer.open {
  transform: translateX(0%);
}
